
.lista {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.item { margin: 10px 0; }

.link {
  position: relative;
  display: inline-block;
  padding: 6px;
  margin: 0 5px;
  font-weight: bold;
  font-size: 14px;
  color: #f1f1e5;
  transition: all .15s ease;
  cursor: pointer;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: calc(50% - 7px);
  border: 1px solid #ffca1a;
  transition: all .15s ease;
  z-index: 10;
}

.link::before { top: 0; border-bottom-width: 0; }
.link::after  { bottom: 0; border-top-width: 0; }

.linkInner {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  background-color: #0d1b2a;
  color: #e0e1dd;
  overflow: hidden;
  z-index: 5;
  box-shadow: inset 0 0 0 1px transparent;
  bottom: -3px;
}

.linkText {
  position: relative;
  z-index: 7;
}

.slice {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  width: 0;
  background-color: #e9414fff;
  transform: skew(-15deg);
  transition: width .22s ease;
  z-index: 6;
  pointer-events: none;
}

.linkInner::before,
.linkInner::after {
  content: "";
  position: absolute;
  background-color: #e0e1dd;
  opacity: 0;
  transition: opacity .18s ease;
  z-index: 9;
}

.linkInner::before { top: 0; left: 0; width: 2px; height: 2px; }
.linkInner::after  { right: 0; bottom: 0; width: 4px; height: 4px; }


.link:hover .slice {
  width: calc(100% + 20px);
}

.link:hover .linkInner::after,
.link:hover .linkInner::before {
  opacity: 1;
}

.link:hover::before,
.link:hover::after {
  border-color: #e0e1dd;
}

.link:hover .linkText {
  color: #e0e1dd;
}


.link.active .slice {
  width: calc(100% + 20px);
}

.link.active .linkInner::after,
.link.active .linkInner::before {
  opacity: 1;
}

.link.active::before,
.link.active::after {
  border-color: #e0e1dd;
}

.link.active .linkText {
  color: #e0e1dd;
}

.link.active:hover .slice {
  width: calc(100% + 20px);
}